@page "/CraftingTable"
@using Blaze_Or.Components
@using Blaze_Or.Models

<PageTitle>Crafting Table</PageTitle>

<h1>Crafting table :</h1>

Welcome to your crafting table.

<br />
<br />


<div>
    <Crafting Items="Items" Recipes="Recipes" />
</div>