@page "/"
@using System.Globalization
@using Blaze_Or.Components
@using Blaze_Or.Models

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div>
    <Crafting Items="Items" Recipes="Recipes" />
</div>