@page "/Inventory"
@using Blaze_Or.Components
@using Blaze_Or.Models

<PageTitle>Inventory</PageTitle>

<h1>Inventory :</h1>

Welcome to your Inventory.

<br />
<br />


<div>
    <InventoryComp Items="Items"/>
</div>