<CascadingValue Value="@this">
    <div id="master">
        <div class="main-container">
            <div class="css-grid">
                <InventoryItem Index="0" />
                <InventoryItem Index="1" />
                <InventoryItem Index="2" />
                <InventoryItem Index="3" />
                <InventoryItem Index="4" />
                <InventoryItem Index="5" />
                <InventoryItem Index="6" />
                <InventoryItem Index="7" />
                <InventoryItem Index="8" />
                <InventoryItem Index="9" />
                <InventoryItem Index="10" />
                <InventoryItem Index="11" />
                <InventoryItem Index="12" />
                <InventoryItem Index="13" />
                <InventoryItem Index="14" />
                <InventoryItem Index="15" />
                <InventoryItem Index="16" />
                <InventoryItem Index="17" />
                <InventoryItem Index="18" />
                <InventoryItem Index="19" />
                <InventoryItem Index="20" />
                <InventoryItem Index="21" />
                <InventoryItem Index="22" />
                <InventoryItem Index="23" />

            </div>

           <div>
                <InventoryList/>
           </div>
            

        </div>
        <div>Actions</div>
        <div class="actions" id="actions">
        </div>
    </div>

</CascadingValue>

