<CascadingValue Value="@this">
    <div class="container">
        <div class="row">


           <div class="col-6">
                <div>Inventory</div>
                <div>

                    <div class="css-recipe">
                        <InventoryItem Index="0" />
                        <InventoryItem Index="1" />
                        <InventoryItem Index="2" />
                        <InventoryItem Index="3" />
                        <InventoryItem Index="4" />
                        <InventoryItem Index="5" />
                        <InventoryItem Index="6" />
                    </div>
                </div>
           </div>

           <div class="col-6">

                <div>Available items:</div>
                <div>
                    <div class="css-grid">

                        @foreach (var item in Items)
                        {
                            <InventoryItem Item="item" NoDrop="true" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</CascadingValue>